/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}
.ibiboheader{
  background-color: #19CACA ;
}
footer.page-footer{
	background-color: #2A2D2E;
	//opacity: 0.8;
	//min-height: 350px;
}

body{
	//font-family: "tahoma";
}
#index-banner{
	background-image: url("../Hotel.jpg");
	//min-height: 600px;
	//padding-top: 30px;
	color: white;
}

.homeSeadgdrchbar {
    background-color: rgba(255,255,255,0.15);
    margin: 0 10px;
    padding: 20px;
    border-radius: 10px;
    border: thin solid rgba(255,255,255,0.5);
    padding-top: 50px;
    width: 50%
    }
 .datepicker{
    background-color: #FFF;
    color: #000;
 }

 .picker{
    color: #000;
    font-weight: 2em;
 }
 .form-garoup{
 	font-size: 1.5em;
 }

 .pre-scrollable {
 	max-height: 500px;
 }
 .land_card_reverse{
 	    background: #f4f4f4;
 }


 .land-card{
 	   background-color: #1fc055;
 	   color: #FFF;
 }

 .h2 {
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    text-transform: uppercase;
}

 .h3 {
    font-weight: 500;
    font-size: 20px;
    line-height: 40px;
    text-transform: uppercase;

}



    .product_review .row .barover {
    background: #f6b800;
    height: 9px;
    margin: 0 8px;
    width: 100px;
    display: inline-block;
}

.review-bar{
     background: #f6b800;
    height: 9px;
    margin: 0 8px;
    width: 100px;
    display: inline-block;
}